<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>breakfast</title>
</head>
<body th:fragment="dinner">
				<tr>
				<div id="selection">
					<td><select name="foodselect" id="foodselect15">
							<option value="default">음식선택</option>
							<option th:value="백아귀찜">백아귀찜</option>
							<option th:value="레드와인소스스테이크">레드와인소스스테이크</option>
						</select>
						</td>
				<div id="selection">
					<td><select name="foodselect" id="foodselect16">
							<option value="default">음식선택</option>
							<option th:value="타이누들샐러드">타이누들샐러드</option>
							<option th:value="새우감바스">새우감바스</option>
						</select>
						</td>
				<div id="selection">
					<td><select name="foodselect" id="foodselect17">
							<option value="default">음식선택</option>
							<option th:value="얼큰해물뚝배기">얼큰해물뚝배기</option>
							<option th:value="데리야끼가자미구이">데리야끼가자미구이</option>
						</select>
						</td>
				<div id="selection">
					<td><select name="foodselect" id="foodselect18">
							<option value="default">음식선택</option>
							<option th:value="미소마요고등어구이">미소마요고등어구이</option>
							<option th:value="바질페스토스테이크">바질페스토스테이크</option>
						</select>
						</td>
				<div id="selection">
					<td><select name="foodselect" id="foodselect19">
							<option value="default">음식선택</option>
							<option th:value="마파두부">마파두부</option>
							<option th:value="바베큐소스목살구이">바베큐소스목살구이</option>
						</select>
						</td>
				<div id="selection">
					<td><select name="foodselect" id="foodselect20">
							<option value="default">음식선택</option>
							<option th:value="소고기들깨버섯영양탕">소고기들깨버섯영양탕</option>
							<option th:value="지중해식연어스테이크">지중해식연어스테이크</option>
						</select>
						</td>
				<div id="selection">
					<td><select name="foodselect" id="foodselect21">
							<option value="default">음식선택</option>
							<option th:value="사천식닭조림">사천식닭조림</option>
							<option th:value="케일베이컨까르보나라">케일베이컨까르보나라</option>
						</select>
						</td>
				</tr>
</body>
</html>