<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>breakfast</title>
</head>
<body th:fragment="lunch">
				<tr>
				<div id="selection">
					<td><select name="foodselect" id="foodselect8">
							<option value="default">음식선택</option>
							<option th:value="닭가슴살깻잎볶음">닭가슴살깻잎볶음</option>
							<option th:value="치킨알프레도">치킨알프레도</option>
						</select>
						</td>
				<div id="selection">
					<td><select name="foodselect" id="foodselect9">
							<option value="default">음식선택</option>
							<option th:value="나가사끼부대찌개">나가사끼부대찌개</option>
							<option th:value="코코넛커리치킨">코코넛커리치킨</option>
						</select>
						</td>
				<div id="selection">
					<td><select name="foodselect" id="foodselect10">
							<option value="default">음식선택</option>
							<option th:value="팟타이">팟타이</option>
							<option th:value="바베큐수제버거">바베큐수제버거</option>
						</select>
						</td>
				<div id="selection">
					<td><select name="foodselect" id="foodselect11">
							<option value="default">음식선택</option>
							<option th:value="하얀닭개장">하얀닭개장</option>
							<option th:value="루꼴라가지피자">루꼴라가지피자</option>
						</select>
						</td>
				<div id="selection">
					<td><select name="foodselect" id="foodselect12">
							<option value="default">음식선택</option>
							<option th:value="아보카도명란비빔밥">아보카도명란비빔밥</option>
							<option th:value="소고기타코">소고기타코</option>
						</select>
						</td>
				<div id="selection">
					<td><select name="foodselect" id="foodselect13">
							<option value="default">음식선택</option>
							<option th:value="북경오리포두부쌈">북경오리포두부쌈</option>
							<option th:value="해물토마토파스타">해물토마토파스타</option>
						</select>
						</td>
				<div id="selection">
					<td><select name="foodselect" id="foodselect14">
							<option value="default">음식선택</option>
							<option th:value="돼지고기고추장찌개">돼지고기고추장찌개</option>
							<option th:value="주키니연어프리터">주키니연어프리터</option>
						</select>
						</td>
				</tr>
</body>
</html>