<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<div id="sidebar" class="w3-sidebar w3-bar-block w3-card" style="width: 13%; height: 110px; right: 0;">

			<fieldset id="contact" style="background-color: #F6F7F5">
				<legend class="name">Contact us!</legend>

				<!--누르면 이메일 보낼 수 있는 링크-->
				<a href="mailto:juhyun.kim@lindsey.edu?subject=Feedback" id="email">
				Email to us <i style='font-size:20px' class="material-icons">&#xe0be;</i></a> <br>
				
				<a href="/bmi" id="bmi">BMI Check</a>
				
			</fieldset>
		</div>



</html>