@charset "UTF-8";

#bookmark{
  position: absolute;
  top: 100px;
  right: 50px;
  width: 100px;
  height: 50px;

}

#bookmark_text{
	color: #008080;
	font-weight: bold;
	font-size: 16pt;
}


#title{

	text-align: center;
	font-size: 25pt;

}

#list{
	width: 80%;
	margin: 0 auto;
	margin-top: 100px;
}

#list_table{
	width: 60%;
	margin: 0 auto;
	border: 1px solid gray;

}

#boardData {
	text-align: center;	
	
}


#info{
	
	text-align: center;
	
}


.table_infos{
	
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	
}


#table_content{
	
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	
}


#table_img{
	
	text-align: center;
	
}


#list_img{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	border-left : 1px solid gray;
	border-right : 1px solid gray;
	border-bottom : 1px solid gray;
}


#list_data{
	width: 70%;
	margin: 0 auto;

}

img{
	margin: 0 auto;

}


.container{
	
	width: 70%;
	margin: 0 auto;

}

#comment{
	
	margin-top: 60px;
	
}

label{
		
}

.input_group{
	width: 100%;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	
}

#content{
	width: 90%;
	
}

#content_btn{
	width: 10%:
	
}

#link{
 position: absolute;
  top: 150px;
  right: 350px;
  width: 200px;
  height: 50px;
	
	}

.links{
	color: #008080;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

a{
	text-decoration: none;
}